.duck {
  cursor: crosshair;
  z-index: 2;
  width: 6%;
}

.duck2 {
  cursor: crosshair;
  z-index: 2;
  width: 6%;
}

.duckspace {
  display: block;
  width: 100%;
  color: black;
}

input + label {
  position: absolute;
  left: -100px;
  z-index: 10;
  width: 35px;
  display: block;
  transform: translate(-50%, -50%);
  background: url("https://64.media.tumblr.com/5dfe182158ff3e4e4f52895d740d9f17/7ead92638a157be6-9c/s640x960/434464a0ecd4dc24fae8f055dab38d27a6eb2c58.pnj");
  background-repeat: no-repeat;
  background-position: left;
}

input:checked + label {
  opacity: 0;
  transition: 0.5s;
  transform: rotate(120deg);
  transform-origin: 60%;
  z-index: -5;
}

@keyframes duckfly {
  0% {
    left: 150%;
    top: 15%;
  }
  25% {
    left: 80%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 30%;
  }
  75% {
    left: 20%;
    top: 20%;
  }
  85% {
    left: 20%;
    top: 20%;
  }
  100% {
    left: -10%;
    top: 60%;
  }
}

@keyframes duckfly2 {
  0% {
    left: 140%;
    top: 15%;
  }
  25% {
    left: 80%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 20%;
  }
  75% {
    left: 30%;
    top: 50%;
  }
  85% {
    left: 20%;
    top: 15%;
  }
  100% {
    left: -10%;
    top: 50%;
  }
}

.duck:nth-last-of-type(1) {
  animation: duckfly 15s linear 1s;
}
.duck:nth-last-of-type(2) {
  animation: duckfly2 15s linear 2s;
}
.duck:nth-last-of-type(3) {
  animation: duckfly 18s linear 8s;
}
.duck:nth-last-of-type(4) {
  animation: duckfly2 25s linear 1s;
}
.duck:nth-last-of-type(5) {
  animation: duckfly 15s linear 1s;
}
.duck:nth-last-of-type(6) {
  animation: duckfly 15s linear 6s;
}

.duck:nth-last-of-type(7) {
  animation: duckfly2 18s linear 5s;
}

.duck:nth-last-of-type(8) {
  animation: duckfly2 13s linear 2s;
}

.duck:nth-last-of-type(9) {
  animation: duckfly2 15s linear 5s;
}

input {
  display: none;
}
